$globalHorzGutter: 6rem;
$easeOutQuart: cubic-bezier(0.165, 0.84, 0.44, 1);
$easeOutExpo: cubic-bezier(0.19, 1, 0.22, 1);
$easeOutCirc: cubic-bezier(0.075, 0.82, 0.165, 1);

.page {
  display: flex;
  flex-flow: column nowrap;
}

.header {
  position: relative;
  z-index: 100;
  flex: 0 0 auto;

  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;

  padding: 1.2rem $globalHorzGutter;

  color: #fff;
  background-color: #121415;
  // background-color: rgba(#000, 0.4);
  // backdrop-filter: blur(4px);

  &Logo {
    height: 48px;
    margin-right: 24px;
  }

  .nav {
    margin: 0 4rem;

    &Link {
      color: #fff;

      &:hover {
        color: #d4d4d4;
      }
    }
  }
}

.main {
  flex: 1 0 auto;
  height: 100%;
}

.exhibitions {
  color: #fff;

  > h1 {
    position: relative;
    z-index: 1;
    margin: 0;
    padding: 2rem $globalHorzGutter 0;
    text-shadow: 0 4px 8px #242627;
  }

  .exhibition {
    padding: 2rem $globalHorzGutter;
    display: flex;
    flex-flow: row nowrap;

    img {
      height: 480px;
      margin-right: 2rem;
      box-shadow: 0 2px 8px rgba(#000, 0.45);
    }

    &Info {
      margin: 0;
      font-size: 2rem;

      > li:first-child {
        font-size: 2.5rem;
      }
    }
  }
}

.albumGallery {
  position: relative;
  z-index: 0;
  transition: all 0.45s 60ms ease-in-out;
  overflow: hidden;

  > h1 {
    position: relative;
    z-index: 1;
    color: #fff;
    margin: 0;
    padding: 2rem $globalHorzGutter 0;
    text-shadow: 0 4px 8px #242627;
  }

  .album {
    &BackgroundJumbotron,
    &BackgroundGradient {
      position: absolute;
      z-index: 0;
      top: 0;
      left: 0;
      width: 100%;
      height: 45rem;
    }

    &BackgroundJumbotron {
      background-size: cover;
      background-position: center top;
      filter: brightness(1.1) contrast(1.2) blur(4px);
    }

    &BackgroundGradient {
      > svg {
        display: block;
        width: 100%;
        height: 100%;

        linearGradient > stop {
          transition: all 0.5s ease-in-out;
        }
      }
    }
  }

  &Scroll {
    z-index: 1;
    position: relative;
    display: flex;
    padding: 2rem $globalHorzGutter 6rem;

    transition: padding-bottom 0.45s ease-in-out;

    .album {
      &Wrap {
        padding-right: $globalHorzGutter;
        flex: 0 0 auto;
      }

      display: block;
      width: 220px;
      height: 380px;
      outline: 0;

      perspective: 1200px;
      box-shadow: 0 2px 8px rgba(#000, 0.55);
      transition: all 1s $easeOutCirc;

      &Background {
        position: relative;
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-end;
        width: 100%;
        height: 100%;
        background-color: #888;
        background-size: cover;
        background-position: center;
        transition: all 1s $easeOutCirc;
        transform-style: preserve-3d;
        overflow: hidden;

        z-index: 0;

        color: #fff;
        font-size: 1.2rem;
        text-align: center;
        text-shadow: 0 2px 3px #000;

        &::before {
          content: ' ';
          z-index: 1;
          position: absolute;
          display: block;
          top: -50%;
          left: 0;
          width: 100%;
          height: 100%;
          opacity: 0.5;
          background-image: linear-gradient(
            30deg,
            rgba(#fff, 0) 47%,
            rgba(#fff, 0.2) 52%,
            rgba(#fff, 0.02)
          );

          transition: all 1s $easeOutCirc;
        }
      }

      &:hover,
      &:focus {
        box-shadow: 0 16px 10px 6px rgba(#000, 0.55);

        .albumBackground {
          transform: rotateX(5deg) translateZ(48px) translateY(4px);

          &::before {
            top: -10%;
            opacity: 1;
          }
        }
      }

      &Name {
        position: relative;
        padding: 64px 32px 16px;
        background: linear-gradient(to top, rgba(#000, 0.15), transparent);
        user-select: none;
      }

      &.isSelected {
        box-shadow: 0 14px 12px 10px rgba(#000, 0.66);

        .album {
          &Background {
            transform: translateZ(64px);

            &::before {
              top: 0;
              opacity: 1;
            }
          }
        }
      }
    }
  }
}

.albumContent {
  position: relative;
  z-index: 0;
  background: linear-gradient(to bottom, #121415, #020405);
  padding: 0 $globalHorzGutter 4rem;

  color: #fff;

  &Wrapper {
    filter: drop-shadow(0 0 8px #000);

    .slopeTriangle {
      display: block;

      color: #121415;
      width: 100%;
      height: 6rem;
    }
  }

  .closeToggle {
    position: absolute;
    top: -4rem;
    right: $globalHorzGutter;

    font-size: 3rem;
    line-height: 0;
  }

  .albumBasicInfo {
    margin-bottom: 4rem;
  }
}

.layout {
  display: flex;
  flex-wrap: wrap;

  > .albumTracks {
    flex: 1 0 auto;
    min-width: 50%;
    padding-right: 4rem;
  }

  > .albumRes {
    flex: 0 0 auto;
  }

  > .albumTracks,
  > .albumRes {
    margin-bottom: 2rem;
  }
}

.track {
  &Table {
    white-space: nowrap;
    width: auto;
    min-width: 32rem;
    max-width: 100%;

    thead > :last-child {
      > th,
      > td {
        border-bottom: 1px solid #fff;
      }
    }
  }

  &Composer {
    font-size: 0.7em;
    color: #ccc;
  }
}

.footer {
  z-index: 1;
  position: relative;
  flex: 0 0 auto;
  padding: 1.45rem $globalHorzGutter;
  font-size: 0.88rem;
  background-color: #efdddb;

  > :global(.row) > * {
    margin-top: 0.8rem;
    margin-left: 64px;
  }

  &Logo {
    width: 5rem;

    &Wrapper {
      margin-top: 0 !important;
      margin-left: 0 !important;
      margin-right: auto;
    }
  }

  .eShopWrapper {
    .qrCode {
      width: 114px;
      padding: 4px;
      background-color: white;

      + * {
        color: #777;
      }
    }
  }

  .gugugu {
    text-align: center;

    > img {
      width: 280px;
    }
  }

  .copyright {
    text-align: center;
  }
}

.closeToggle {
  line-height: 1;
  color: #fff;
  text-decoration: none !important;

  &:hover,
  &:focus {
    color: #e0e0e0;
  }

  &:active {
    color: #d4d4d4;
  }
}
